# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.organizer-app.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\personal_project\organizer-app\.idea\.idea.organizer-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
